spring:
  application:
    name: cosmic-astrology-backend
  
  datasource:
    url: jdbc:mysql://localhost:3306/astrology_db?createDatabaseIfNotExist=true
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  
  security:
    user:
      name: admin
      password: admin

server:
  port: 8080

app:
  jwtSecret: cosmicAstrologySecretKeyForJwtTokenGenerationAndValidation2024SuperSecureKeyThatIsLongEnoughForHS256Algorithm
  jwtExpirationMs: 86400000

logging:
  level:
    com.cosmic.astrology.security.JwtUtils: DEBUG
    org.springframework.security: INFO
